<h1>{% block titulo %}Crear una Persona{% endblock %}</h1>

<form action="{{ path('ManuelPersonasBundle_crear') }}"  method="post">
    {{ form_widget(form) }}
    <input type="submit" value="Guardar" />
</form>

<a href="{{ path('ManuelPersonasBundle_index') }}" >Volver</a>