<h1>Lista de personas en la BD</h1>
<ul>
    {% for per in personas %}
        <li>
            <a href="{{ path('ManuelPersonasBundle_editar',{ id : per.id }) }}" >
                {{ per.nombreCompleto }}
            </a>
        </li>
    {% else %}
        <li>No hay registros en la BD!!!</li>
    {% endfor %}
</ul>
<a href="{{ path('ManuelPersonasBundle_crear') }}">Crear Persona</a>
